#Configure the rabbitmq logs
#my_config.config
#contains rabbitmq logging info without changing rabbitmq.config file
#use "chmod 644 rabbitmq.log" to allow rabbitmq to be able to write to the set log file
#save and restart rabbitmq to update the system
[
  {rabbit, [
    {log_levels, [
      {connection, info},
      {channel, warning},
      {queue, debug},
      {error, error},
      {mirroring, debug},
      {federation, info}
    ]},
    {log, [{file, [
      {level, info},
      {file, "/var/log/rabbitmq/rabbitmq.log"}
    ]}]}
  ]}
].
